.CurrentWeather {
  color: white;
}

.CurrentWeather .city {
  text-align: left;
  font-weight: bold;
  font-size: 36px;
  margin-left: 30px;
  text-transform: uppercase;
}

/* .CurrentWeather .current-temperature {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.CurrentWeather .current-temperature .temperature {
  font-size: 68px;
  font-weight: bold;
}

.CurrentWeather .current-temperature .units {
  font-size: 28px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -30px;
 } */

.CurrentWeather .current {
  text-align: right;
  font-size: 36px;
  margin-right: 30px;
}

.CurrentWeather .current-weather {
  text-align: right;
}

.CurrentWeather .current-weather-desc {
  font-size: 36px;
  font-weight: bold;

  text-align: right;
  text-transform: uppercase;
  margin-right: 30px;
}

.CurrentWeather li {
  text-align: left;
}

.CurrentWeather .conditions {
  line-height: 2;
  font-size: 24px;
}

.CurrentWeather .conditions-fa {
  line-height: 1.5;
  font-size: 22px;
  margin-right: 15px;
}

.CurrentWeather .feels-like {
  font-size: 16px;
  color: white;
}
