.Search .search-form {
  display: block;
  margin: 0px auto;
}

/* .Search .button {
  width: 100%;
  margin: 0px auto;
} */

.Search .search-button {

  display: block;
  
  font-size: 18px;
   

  border-radius: 30px;
  padding: 6px 30px;
  border: none;
  color: white;
  background-color: rgba(67, 151, 151, 0.726);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px 0;

}

.Search .search-button:hover{

  color: #3f3f3f;
  background-color: rgb(255, 254, 205);
  cursor: pointer;

  transition: all 200ms ease-in-out;

}

.Search .Location-button {
  display: block;
  margin: 32px 0;
  font-size: 18px;

  border-radius: 30px;
  padding: 6px 30px;
  border: none;
  color: white;
  background-color: rgba(67, 151, 151, 0.726);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px 0;
}

.Search .Location-button:hover {
  color: #3f3f3f;
  background-color: rgb(255, 254, 205);
  cursor: pointer;

  transition: all 200ms ease-in-out;
}


@media (max-width:576px) {

  .Search .Location-button {
   font-size: 16px;
  }

  .Search .search-button {
     font-size: 16px;
  }
}